<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>Rate</title>
</head>

<body>
    <nav class="navbar" style="background-color:#152934">
        <div class="navbar-brand">
            <h1 class="title is-1" style="color: #dee1e3">Info</h1>
        </div>
    </nav>

    Delete was successful

    <div class="control">
        <a class="button is-text" href="/read">Home</a>
    </div>

</body>
</html>
